:root {

}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px #00000029;
}
.header_container {
    width: 1352px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.nav_element {
    padding: 0 26px;
}

.nav_link {
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    opacity: 1;
    text-transform: uppercase;
    padding: 28px 18px 23px;
    border-bottom: 4px solid transparent;
}

.nav_link:hover {
    border-bottom: 4px solid #08A6E4;
    color: #000000;
}

.logo {
    font: normal normal 300 32px/37px Raleway;
    color: #08A6E4;
}

.opening {
    padding-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening_content {
    width: 450px;
}

.opening_header {
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    color: #000000;
}

.opening_text {
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    color: #000000;
    padding: 15px 15px 30px;
}
.opening_btn {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #08A6E4;
    border-radius: 40px;
    font: normal normal bold 16px/22px Open Sans;
    color: #FFFFFF;
}
.opening_img {
    width: 100%;
}

